lombok.val.flagUsage = error
lombok.equalsAndHashCode.callSuper = call
#lombok.equalsAndHashCode.flagUsage = error
lombok.log.fieldName = LOGGER
lombok.log.apacheCommons.flagUsage = error
lombok.log.javaUtilLogging.flagUsage = error
lombok.log.jbosslog.flagUsage = error
lombok.log.log4j.flagUsage = error
lombok.log.slf4j.flagUsage = error
lombok.log.xslf4j.flagUsage = error